@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-iframe {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: none;
    /* Optional: remove the default iframe border */
}